<div class="row">
<div class="col-lg-4 col-6 ">
  <!-- small box -->
  <div class="small-box bg-warning rounded">
    <div class="inner">
      <h3 class="p-2">44</h3>

      <p class="p-2">Người Đăng Ký</p>
    </div>
    <div class="icon float-right ">
      <i class="ion ion-person-add "></i>
    </div>
    <a href="#" class="small-box-footer"> xem thêm <i class="fas fa-arrow-circle-right"></i></a>
  </div>
</div>

<div class="col-lg-4 col-6">
  <!-- small box -->
  <div class="small-box bg-primary rounded">
    <div class="inner">
      <h3 class="p-2">44</h3>
      <p class="p-2">Người Đăng Ký</p>
    </div>
    <div class="icon float-right ">
      <i class="ion ion-person-add "></i>
    </div>
    <a href="#" class="small-box-footer"> xem thêm <i class="fas fa-arrow-circle-right"></i></a>
  </div>
</div>
<div class="col-lg-4 col-6">
  <!-- small box -->
  <div class="small-box bg-success rounded">
    <div class="inner">
      <h3 class="p-2">44</h3>

      <p class="p-2">Người Đăng Ký</p>
    </div>
    <div class="icon float-right ">
      <i class="ion ion-person-add "></i>
    </div>
    <a href="#" class="small-box-footer"> xem thêm <i class="fas fa-arrow-circle-right"></i></a>
  </div>
</div>
</div>
