<section class="wrapper">
  <div class="container-fostrap">
    <div>
      <img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/>
      <h1 class="heading">
        Danh sách môn học
      </h1>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4" *ngFor="let item of listSubject">
            <div class="card">
              <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/880739/retina_800x320_cover-angular-5-tutorial-325403e130ba3b2c367174b73bb7275a.png" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  <p> {{item.Name}}</p>
                </h4>
                <p class="">
                  Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                </p>
                <div>
                  <strong>CODE: </strong>{{item.Code}}
                </div>

              </div>
              <div class="card-read-more">
                <a [routerLink]="['../quiz/' + item.Code]" class="btn btn-link btn-block">
                  Làm bài
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
