<section class="wrapper">
  <div class="container-fostrap">
    <div>
      <img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png"
           class="fostrap-logo"/>
      <h1 class="heading">
        Danh sách môn học
      </h1>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4" *ngFor="let item of listSubject">
            <div class="card">
              <div>
                <a class="img-card" [routerLink]="['../quiz/' + item.Code]">
                  <img [src]="'assets/logos/' +item.Logo"/>
                </a>
              </div>
              <div class="card-content">
                <h4 class="card-title">
                  <p> {{item.Name}}</p>
                </h4>
                <p class="">
                  Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                </p>
                <div>
                  <strong>CODE: </strong>{{item.Code}}
                </div>

              </div>
              <div class="card-read-more">
                <a [routerLink]="['../quiz/' + item.Code]" class="btn btn-link btn-block">
                  Làm bài
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
