<form action="">
  <div class="form-group" >
    <label for="">Câu hỏi</label>
    <input type="text" class="form-control" formControlName="fullname">
  </div>
  <div class="form-group mt-2" >
    <label for="">Câu trả lời 1:</label>
    <input type="text" class="form-control" formControlName="fullname">
  </div>
  <div class="form-group mt-2" >
    <label for="">Câu trả lời 2:</label>
    <input type="text" class="form-control" formControlName="fullname">
  </div>
  <div class="form-group mt-2" >
    <label for="">Câu trả lời 3:</label>
    <input type="text" class="form-control" formControlName="fullname">
  </div>
  <div class="form-group mt-2" >
    <label for="">Câu trả lời 4:</label>
    <input type="text" class="form-control" formControlName="fullname">
  </div>
</form>
